body,
html {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0;
}

header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.089);
    gap: 150px;
}

.nav {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav a {
    display: flex;
    gap: 3px;
    text-decoration: none;
    color: gray;
}

.error-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.error-page h5 {
    color: red;
}

.error-page button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: orangered;
    cursor: pointer;
}

.error-page button a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.menu {
    margin: 100px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.restaurant-menu {
    height: 280px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-img {
    height: 300px;
}
.menu-discription {
    height: 130px;
}

.menu-discription p {
    font-size: smaller;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant-menu img {
    width: 100%;
}

.menu-img {
    height: 145px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.174);
}

.restaurant-card {
    width: 250px;
    /* overflow: hidden; */
    /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.174); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.restaurant-card :not(.card-img, img) {
    margin: 0px 6px;
}

.restaurant-card img {
    width: 100%;
}

.card-img {
    height: 145px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.174);
}

.card-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-rating {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: green;
    width: max-content;
    color: white;
    font-size: 0.8rem;
}

.card-price {
    color: gray;
    font-size: small;
}

.card-cuisines {
    color: rgb(83, 83, 83);
    font-size: small;
    margin-bottom: 10px;
    padding: 4px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.r-list {
    margin: 100px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.r-list a{
    text-decoration: none;
    color: black;
}

.restaurant-card:hover {
    animation: card-hover 200ms ease-in-out forwards;
}

.restaurant-menu:hover{
    animation: card-hover 200ms ease-in-out forwards;
}

@keyframes card-hover {
    100% {
        transform: scale(0.95);
    }
}

footer {
    text-align: center;
    padding: 10px;
    color: purple;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: 40px;
}

footer p {
    margin-bottom: 20px;
    font-family: cursive;
}

.search-container {
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.search-container input {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.132);
}

.search-container input:focus {
    position: sticky;
    top: 0px;
    outline: 2px solid orangered;
}
/* 
<div className="restaurant-skeleton">
            <div className="img"></div>
            <div className="name"></div>
            <div className="discription"></div>
        </div> */

.skeleton {
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.restaurant-skeleton {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.restaurant-skeleton .img {
    width: 200px;
    height: 100px;
    background-color: #ddd;
}

.restaurant-skeleton .name {
    height: 15px;
    background-color: #ddd;
}

.restaurant-skeleton .discription {
    height: 30px;
    background-color: #ddd;
}

.shimmer {
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
    );
    animation: shimmer 1s infinite;
    z-index: 1;
}

.no-restaurant-found {
    text-align: center;
    color: orangered;
    padding: 10px;
}

.restaurant-name-in-menu{
    font-family:'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
    margin: 10px 10px 10px 10px;
    color:white;
    line-height: 60px;
}
.restaurant-city-in-menu{
    text-align: center;
    margin: 0px 10px 10px 10px;
    color:white;
}

.about-restaurant div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(20px);
}

.about-restaurant{
    position: relative;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-restaurant img{
    width: 100%;
}

@keyframes shimmer {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(200%);
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        border-radius: 14px 14px 0px 0px;
        background: white;
        position: fixed;
        bottom: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .nav img {
        padding: 10px;
        width: 30px;
    }

    .nav h4 {
        display: none;
    }

    .restaurant-card,.restaurant-menu {
        width: 100%;
        max-width: 460px;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .restaurant-info {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .card-img ,.menu-img{
        width: 50%;
        height: 96%;
    }

    .restaurant-skeleton {
        width: 160px;
        overflow: hidden;
    }

    .r-list,.menu {
        margin: 50px 10px;
        margin: 10px;
    }

    .r-list{
        row-gap: 0px;
    }

    .menu{
        margin-top: 20px;
        row-gap:13px ;
    }

    .skeleton {
        margin: 100px 0px;
        gap: 20px;
    }

    .restaurant-menu {
        height: 140px;
        width: 600px;
    }

    /* .menu-img {
        overflow: hidden;
        width: 50%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.071);
    } */

    .menu-img img {
        width: 100%;
    }

    .menu-discription {
        margin: 0px 0px;
        width: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        height: 100%;
    }

    .menu-discription > * {
        padding: 0px 4px;
    }
    .menu-discription p {
        font-size: small;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

::selection {
    background: transparent;
}
